/*
.maching-table_sp {
  margin: 0px 0px 0px 330px;
}

.product_insert_btn2 {
}

.product_insert_btn2 .insert_btn2,
.product_insert_btn2 .product_delclose_btn2 {
  border-radius: 0px;
  color: #000000;
  background-color: white;
  font-size: 13px;
  padding: 3px 2px 3px 2px;
  margin: 0px 15px 0px 15px;
  text-decoration: none;
  border: 1px solid #dddfe1;
  width: 130px;
  height: 30px;
  cursor: pointer;
}

.product_insert_btn2 .insert_btn2:hover,
.product_insert_btn2 .product_delclose_btn2:hover {
  background: #d4d4d4;
  text-decoration: none;
}

*/
.form2_container {
  width: 900px;
  margin-left: 270px;
}
/* 버튼 위치조절 */
.product_insert_btn2 {
  margin: 30px 0px 0px 140px;
}
.insert_btn2,
.product_delclose_btn2 {
  width: 100px;
  height: 30px;
}

.insert_matcingInfo2 {
  font-size: 16px;
  margin-top: 20px;
  min-height: 600px;
  width: 700px;
}

.official_button_plus2 {
  margin-left: 278px;
}

.sparring_ex_title {
  margin: 40px 0px 40px 120px;
}

.sparring_ex {
  margin: 0px 0px 0px 180px;
}

.sparring_ex2 {
  margin-left: 70px;
}
.coment_title {
  font-size: 16px;
}
.coment_one {
  margin: 20px 0px 0px 59px;
  width: 155px;
}
