.detail_info {
  width: 1050px;
  height: 515px;

  display: flex;
  margin-top: 80px;
}

.detail_info_img {
  width: 600px;
  height: 515px;

  margin: 10px 100px 0px 0px;
}

.detail_info_first-img {
  width: 580px;
  height: 370px;

  margin: 10px 0px 10px 0px;
}

.detail_info_first-img_main {
  width: 578px;
  height: 370px;
  border-radius: 10px;
}

.detail_info_sub-imgs {
  width: 580px;
  height: 90px;
}

.detail_info_sub-img {
  width: 90px;
  height: 90px;
  margin-right: 3px;
  border-radius: 10px;
}

/* amenities */

.detail_info_amenities {
  width: 350px;
  height: 490px;
}

.amenities {
  width: 350px;
  height: 460px;

  margin-top: 10px;
}

.amenities_item1 {
  width: 345px;
  border-bottom: 1px solid #c3c3c3;
  margin-top: 18px;
  padding-bottom: 10px;
}

.amenities_item1_sub {
  margin-bottom: 5px;
}
.amenities_item1_title {
  font-size: 22px;
  margin: 0px 0px 15px 0px;
  font-weight: bold;
}

.amenities_item1_sub2 {
  color: #c3c3c3;
}

.amenities_item1_sub2 > .fa-map-marker-alt {
  color: #c3c3c3;
}

.amenities_item2 {
  width: 360px;
  height: 280px;

  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
}

.amenities_item2_sub {
  width: 167px;
  height: 126px;
  background-color: rgb(216, 216, 216);
  margin: 0px 5px 5px 0px;
  border-radius: 10px;
}
.amenities_item2_sub_img {
  width: 150px;
  height: 89px;
  margin: 0px 10px 0px 10px;
}
.amenities_item2_sub_title {
  align-items: center;
}
.amenities_item2_sub_title > div {
  font-size: 16px;
  width: 48%;
  margin: 0px auto;
}
.amenities_item3 {
  width: 340px;
  height: 90px;
  background-color: rgb(216, 216, 216);
  margin: 5px 0px 0px 0px;
  border-radius: 10px;
  text-align: center;
}
.amenities_item3_address {
  font-size: 20px;
  padding-top: 30px;
}

/* reservation */

.reservation {
  width: 1030px;

  margin-bottom: 10px;
}

.reservation_day {
  display: flex;
  text-align: center;
}

.reservation_day > li {
  width: 140px;
  height: 69px;

  margin: 3px 10px 3px 0px;
  padding: 13px 0px 13px 0px;
}
.reservation_day > li > p {
  padding-top: 11px;
  font-size: 18px;
}
.reservation_day > li > span {
  font-size: 11px;
}

.active {
  background-color: #e60012;
  border-radius: 60px;
}

.active > p,
.active > span {
  color: #fff;
}

.reservation_hour {
  margin: 40px 0px 0px 0px;
  width: 1030px;

  display: flex;
}

.hour_item {
  width: 150px;
  height: 100px;
  background-color: rgb(216, 216, 216);
  text-align: center;
  border-radius: 10px;
  margin: 0px 10px 0px 0px;
}

.hour_item_clock {
  padding: 25px 0px 10px 0px;
}

.hour_item > a > div {
  font-size: 15px;
}

/* notice */

.notice {
  width: 1050px;
}

.notice_title {
  text-align: center;
  font-size: 19px;
  height: 70px;
  margin: 100px 0px 0px 0px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.notice_text {
  font-size: 15px;
  margin-top: 30px;
}

.notice_speciality {
  font-size: 19px;
  text-align: center;
}

.notice_speciality > h1 {
  padding: 30px 0px 30px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.notice_speciality > h5 {
  margin: 10px 0px 0px 0px;
}

/* map */
.dae_map {
  width: 1050px;
  text-align: center;
}
.dae_map > h1 {
  padding: 100px 0px 30px 0px;
  font-size: 25px;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.dae_map > div {
  width: 600px;
  height: 500px;
  background-color: rgb(216, 216, 216);
  border-radius: 10px;
  margin: 50px 225px 100px 225px;
}

/* 버튼 */

#dae_footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid rgb(216, 216, 216);
}

.dae_button > div {
  display: inline-block;
}

.dae_button_item {
  background: #e60012;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px 30px 30px 30px;

  outline: none;
}

.dea_btn {
  color: #fff;
}

.dae_button_item2 {
  background: #e60012;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px 30px 30px 30px;

  outline: none;
}
.dae_button_item3 {
  background: #5f5f5f;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px 30px 30px 30px;

  outline: none;
}

.dea_btn2 {
  color: #fff;
}
