.detail_info {
  width: 1050px;
  height: 515px;

  display: flex;
  margin-top: 80px;
}

.detail_info_img {
  width: 600px;
  height: 490px;

  margin: 10px 30px 0px 35px;
}

.detail_info_first-img {
  width: 580px;
  height: 370px;

  margin: 10px 10px 10px 10px;
}

.detail_info_first-img_main {
  width: 578px;
  height: 370px;
  border-radius: 10px;
}

.detail_info_sub-imgs {
  width: 580px;
  height: 90px;

  margin-left: 10px;
}

.detail_info_sub-img {
  width: 90px;
  height: 90px;
  margin-right: 3px;
  border-radius: 10px;
}

/* amenities */

.detail_info_amenities {
  width: 350px;
  height: 490px;

  margin: 10px 0px 0px 0px;
}

.amenities {
  width: 350px;
  height: 460px;

  margin-top: 10px;
}

.amenities_item1 {
  width: 345px;
  border-bottom: 1px solid #c3c3c3;
  margin-top: 20px;
  padding-bottom: 10px;
}

.amenities_item1_sub {
  margin-bottom: 5px;
}
.amenities_item1_title {
  font-size: 22px;
  margin: 0px 0px 10px 0px;
  font-weight: bold;
}

.amenities_item1_sub2 {
  color: #c3c3c3;
}

.amenities_item1_sub2 > .fa-map-marker-alt {
  color: #c3c3c3;
}

.amenities_item2 {
  width: 360px;
  height: 260px;

  margin-top: 35px;
  display: flex;
  flex-flow: row wrap;
}

.amenities_item2_sub {
  width: 167px;
  height: 126px;
  background-color: rgb(216, 216, 216);
  margin: 0px 5px 0px 0px;
  border-radius: 10px;
}
.amenities_item2_sub_img {
  width: 150px;
  height: 89px;
  margin: 0px 10px 0px 10px;
}
.amenities_item2_sub_title {
  align-items: center;
}
.amenities_item2_sub_title > div {
  font-size: 16px;
  width: 48%;
  margin: 0px auto;
}
.amenities_item3 {
  width: 340px;
  height: 90px;
  background-color: rgb(216, 216, 216);
  margin: 5px 0px 0px 0px;
  border-radius: 10px;
  text-align: center;
}
.amenities_item3_address {
  font-size: 22px;
  padding-top: 30px;
}

/* reservation */

.reservation {
  width: 1050px;
  background-color: teal;
}

.reservation_day {
  display: flex;
  text-align: center;
}

.reservation_day > li {
  width: 140px;
  height: 69px;
  background-color: yellowgreen;
  margin: 3px 10px 3px 0px;
  padding: 13px 0px 13px 0px;
}
.reservation_day > li > p {
  padding-top: 11px;
  font-size: 18px;
}
.reservation_day > li > span {
  font-size: 11px;
}
