.rule {
  width: 1050px;
  text-align: center;
}
.rule_info {
  font-size: 20px;
  color: #e60012;
  margin-bottom: 10px;
}
.rule > h1 {
  font-size: 30px;
}

.post_host {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
}
/* host_items1 */
.host_items1 {
  width: 450px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post_host_item {
  width: 450px;

  text-align: center;
  flex-flow: row;
  font-size: 15px;
}
.post_host_item1 {
  position: relative;
  background-color: white;
  width: 135px;
  margin: 0px 160px 0px 160px;
}
.post_host_item1 > span {
  position: relative;
  text-align: center;
  width: 200px;
  background-color: #fff;
}

.post_host_item2 {
  width: 450px;

  margin-top: -15px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
}

.post_host_item2_1 {
  margin-top: 30px;

  display: flex;
}
.post_host_imgbox {
  width: 170px;
  height: 180px;
}
.post_host_imgbox > img {
  width: 120px;
  height: 150px;
  border-radius: 10px;
}
.post_host_spa-profile {
  width: 280px;
  height: 180px;
  background-color: white;
  margin-right: 12px;
}
.post_host_spa-profile_coment {
  color: rgb(142, 142, 142);
  font-weight: bold;
  font-size: 13px;
}
.post_host_spa-profile_spa {
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
}
.post_host_spa-profile_spa > span {
  color: #e60012;
  font-weight: bold;
  font-size: 18px;
}
.post_host_item2_2 {
}
.post_host_spac_profile {
  margin-bottom: 20px;
}

/* host_middle */
.host_middle {
  width: 150px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.host_middle_vs {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

.post_host_spac_profile > p {
  margin: 5px 0px 5px 0px;
  font-weight: bold;
}

/* host_item3 */
.post_host_item_victim {
  width: 450px;
  text-align: center;
  flex-flow: row;
  font-size: 15px;
}
.host_items3 {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.victim_card {
  width: 200px;
  height: 130px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  margin: 20px 10px 5px 10px;
}

.victim_card_name {
  margin: 0px 0px 0px 0px;
  padding: 15px 0px 0px 0px;
  font-weight: bold;
}

.victim_card_name > i {
  color: #e60012;
}
.victim_card_skills {
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}
.victim_card_coment {
  padding: 10px 0px 0px 0px;
}

.post_host_victim {
  width: 450px;

  margin-top: -15px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.empty {
  width: 0px;
  height: 0px;
}
/* 이전 버전
.post_host_item {
  width: 100px;

  margin: auto;

  margin-top: 100px;
}
.post_host_item1 {
  font-size: 25px;
  position: relative;
  background-color: #fff;
  width: 150px;
  padding: 0px 10px 0px 10px;
  margin: 0px 320px 0px 320px;
  border-left: 1px solid rgb(216, 216, 216);
  border-right: 1px solid rgb(216, 216, 216);
}

.post_host_item2 {
  width: 100px;

  border: 1px solid rgb(216, 216, 216);
  margin: auto;
  margin-top: -15px;
}

.post_host_item2_1 {
  width: 100px;
  background-color: thistle;
  display: flex;
  border: 1px solid black;
}

.post_host_img {
  width: 100px;
  height: 200px;
  background-color: violet;
}

.post_host_spa-profile {
  width: 100px;
  height: 200px;
  background-color: tomato;
}
*/
