/**glovar**/

/**Sparring mach**/
.wrap {
  max-width: 100%;
  overflow: hidden;
}

.container {
  width: 1050px;
  margin: auto;
}

.sm_title {
  text-align: center;
  padding: 80px 0px 80px 0px;
}

.sm_searching {
  width: 700px;
  margin: auto;
}

.sm_searching_item1 {
  display: flex;
}

.sm_searching_item2 {
  display: flex;
}

#form_gim {
  height: 40px;
  width: 250px;
  border: 1px solid black;
  background: #ffffff;
  border-radius: 20px;
  border: 0;
  outline: none;
  background-color: #f7f7f7;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  color: gray;
}
input:-ms-input-placeholder {
  font-size: 15px;
}

.input-text {
  margin: 13px 0px 2px 20px;
  font-size: 15px;
  width: 200px;
  padding: 0px;
  border: 1px;
  float: left;
  outline: none;
  background-color: #f7f7f7;
  color: black;
}
button {
  border: none;
  background-color: #f7f7f7;
  height: 42px;
  font-size: 18px;

  outline: none;
}
