/**glovar**/

/**Sparring mach**/
.wrap {
  max-width: 100%;
  overflow: hidden;
}

.container {
  width: 1050px;
  margin: auto;
}

.sm_title {
  text-align: center;
  padding: 80px 0px 80px 0px;
}

.sm_searching {
  width: 800px;
  margin: auto;
}

.sm_searching_item1 {
  display: flex;
}

.sm_searching_item2 {
  display: flex;
}

.sm_searching_item1_form {
  display: flex;
  width: 464px;
  margin-right: 20px;
}

#form_gim {
  height: 40px;
  width: 350px;
  border: 1px solid black;
  background: #ffffff;
  border-radius: 20px;
  border: 0;
  outline: none;
  background-color: #f7f7f7;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  color: gray;
}
input:-ms-input-placeholder {
  font-size: 15px;
}

.input-text {
  margin: 13px 0px 2px 20px;
  font-size: 15px;
  width: 280px;
  padding: 0px;
  border: 1px;
  float: left;
  outline: none;
  background-color: #f7f7f7;
  color: black;
}
.gim_btn {
  border: none;
  background-color: #f7f7f7;
  height: 40px;
  font-size: 18px;

  outline: none;
}

.address_btn {
  width: 80px;
  margin-left: 10px;
  border-radius: 20px;
  border: 0;
  font-weight: bold;
  color: gray;
}

.item1 {
  margin: 13px 20px 13px 0px;
}

.item1_2 {
  margin: 13px 20px 13px 20px;
}
.item1_address {
  height: 42px;
  width: 110px;
  font-size: 12px;
}

.item1_address_option {
  padding: 70px;
}
